<nav class="navbar navbar-inverse">
  <div class="container">
    <a href="<%= request.path %>?locale=en">
      <span class="flag-icon flag-icon-us"></span>
    </a>
    <a href="<%= request.path %>?locale=pt-BR">
      <span class="flag-icon flag-icon-br"></span>
    </a>


    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "#{current_user.email}", edit_user_registration_path, class: "dropdown-item" %>
        </li>
        <li class="nav-item">
          <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to t('signup'), new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('login'), new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>

</nav>