<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('attributes.contact.name') %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t('attributes.contact.name') %>:</strong>
  <%= @contact.email %>
</p>

<%= link_to t('actions.edit'), edit_contact_path(@contact) %> |
<%= link_to t('actions.back'), contact_path %>
