<p id="notice"><%= notice %></p>

<h1><%= Tracker.model_name.human %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Tracker.human_attribute_name('id') %></th>
      <th><%= Tracker.human_attribute_name('uuid') %></th>
      <th><%= Tracker.human_attribute_name('page') %></th>
      <th><%= Tracker.human_attribute_name('moment') %></th>

    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.id %></td>
        <td><%= tracker.uuid %></td>
        <td><%= tracker.page %></td>
        <td><%= l(tracker.moment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


